extends base

block content
    .container.mb-5.pb-3
        .overflow-hidden
            .row
                // Content
                section.col-lg-8.pt-lg-4.pb-4.mb-3
                    .pt-2.px-4.ps-lg-0.pe-xl-5
                        // Title
                        .d-sm-flex.flex-wrap.justify-content-between.align-items-center.pb-2
                            h2.h3.py-2.me-2.text-center.text-sm-start
                            //- .py-2
                            //-     select#unp-category.form-select.me-2
                            //-         option Select category
                            //-         option Photos
                                    
                        form.productForm
                            .mb-3.pb-2
                                label.form-label(for='title') Product Name
                                input#title.form-control(type='text')
                                .form-text Maximum 100 characters. No HTML or emoji allowed.
                            .mb-3
                                label(for="category").form-label
                                    | Choose Category
                                select(id="category").form-select
                                    option Choose option...
                                    each cat in categories
                                        option(data-id=cat.id)= cat.title
                            .file-drop-area.mb-3
                                .file-drop-icon.ci-cloud-upload
                                span.file-drop-message Drag and drop here to upload product image
                                input.file-drop-input(type='file' multiple id="images")
                                button.file-drop-btn.btn.btn-primary.btn-sm.mb-2(type='button') Or select file
                                .form-text 1000 x 800px ideal size for hi-res displays
                            .mb-3.py-2
                                label.form-label(for='description') Product description
                                textarea#description.form-control(rows='6')
                                .bg-secondary.p-3.fs-ms.rounded-bottom
                                    span.d-inline-block.fw-medium.me-2.my-1 Markdown supported:
                                    em.d-inline-block.border-end.pe-2.me-2.my-1 *Italic*
                                    strong.d-inline-block.border-end.pe-2.me-2.my-1 **Bold**
                                    span.d-inline-block.border-end.pe-2.me-2.my-1 - List item
                                    span.d-inline-block.border-end.pe-2.me-2.my-1 ##Heading##
                                    span.d-inline-block --- Horizontal rule
                            .row
                                .col-sm-6.mb-3
                                    label.form-label(for='price') Actual Price
                                    .input-group
                                        span.input-group-text
                                            i.ci-dollar
                                        input#price.form-control(type='text')
                                    .form-text All prices are in Ghana Cedis (GHS)
                                .col-sm-6.mb-3
                                    label.form-label(for='priceDiscount') Discounted Price
                                    .input-group
                                        span.input-group-text
                                            i.ci-dollar
                                        input#priceDiscount.form-control(type='text')
                                    .form-text Ignore this if you are not running a promo now
                            .mb-3
                                label(for="visibility").form-label
                                    | Visibility
                                select(id="visibility").form-select
                                    option(data-bool='yes') Yes. Show on website
                                    option(data-bool='no') No. Hide this product
                            //- .mb-3.py-2
                            //-     label.form-label(for='subCategories') Sub Categories
                            //-     textarea#subCategories.form-control(rows='4')
                            //-     .form-text
                            //-         | Other categories this product belongs to.Sub categories be separated by commas. Eg. TWS Headphones,In-Ear,On-Ear,Mono Headphones
                            //- .mb-3.pb-2
                            //-     label.form-label(for='unp-product-files') Product files for sale
                            //-     input#unp-product-files.form-control(type='file' multiple)
                            //-     .form-text Maximum file size is 1GB
                            button.btn.btn-primary.d-block.w-100.productBtn(type='submit')
                                i.ci-cloud-upload.fs-lg.me-2
                                | Upload Product

