extends base

block content

    h4 All Categories
    button(type="button" data-bs-toggle="modal", data-bs-target="#modalDefault").btn.btn-primary.btn-shadow
        | Add Category
    include _createCategory

    .table-responsive
        table.table.table-striped.table-sm
            thead
                tr
                    th(scope='col') Title 
                    th(scope='col') Num of Products
                    th(scope='col') Edit
                    th(scope='col') Delete
            tbody
                each category in categories
                    tr
                        td= category.title
                        td 4
                        td
                            button.editCategory(type="button" data-category=category data-bs-toggle="modal", data-bs-target="#modalDefault2").btn.btn-secondary.btn-icon
                                i.ci-edit
                        td
                            button.deleteCategory(type="button" data-category=category data-bs-toggle="modal", data-bs-target="#delete").btn.btn-danger.btn-icon
                                i.ci-trash
            include _deleteCategory
            include _editCategory