doctype html
head
    meta(charset='utf-8')
    title Dashboard
    // SEO Meta Tags
    //- meta(name='description' content='Cartzilla - Bootstrap E-commerce Template')
    //- meta(name='keywords' content='bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean')
    //- meta(name='author' content='Createx Studio')
    // Viewport
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Favicon and Touch Icons
    link(rel='shortcut icon' href='/assets/images/logo.png' type='image/png')
    // Vendor Styles including: Font Icons, Plugins, etc.
    link(rel='stylesheet' media='screen' href='/assets/theme/vendor/simplebar/dist/simplebar.min.css')
    link(rel='stylesheet' media='screen' href='/assets/theme/vendor/tiny-slider/dist/tiny-slider.css')
    // Main Theme Styles + Bootstrap
    link(rel='stylesheet' media='screen' href='/assets/theme/css/theme.min.css')
// Body
// Sign in / sign up modal

body.body
    // Modal with tabs and forms

.modall(tabindex='-1' role='dialog' style='padding-right: 16px' aria-modal='true' id="modalDefault")
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                ul.nav.nav-tabs.card-header-tabs(role='tablist')
                    li.nav-item
                        a.nav-link.active(href='#signin' data-bs-toggle='tab' role='tab' aria-selected='true')
                            i.ci-user.me-2.mt-n1
                            | #{user.name}
                button.closeModal.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body.tab-content.py-4
                .mb-3.text-center
                    dl
                        dt Add Sale Reord
                        dd
                            | Input your sales records from this week
                            | 
                    a.btn.btn-primary.btn-shadow.d-block.w-100(type='button' href='/sales/add')
                        | Add Sale Record
                .mb-3.text-center
                    dl
                        dt Add Collection Record
                        dd
                            | Input your collection records from this week
                            | 
                    a.btn.btn-primary.btn-shadow.d-block.w-100(type='button' href="/collections/add")
                        | Add Collection Record
                .mb-3.text-center
                    dl
                        dt Experience The Full Package
                        dd
                            | Visit /login to sign in as an admin and have full account
                            | priveledges
                    a.btn.btn-primary.btn-shadow.d-block.w-100(type='button' href="/login")
                        | Login
